{% load static %}
<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>検索ページ</title>
    <link rel="stylesheet" type="text/css" 
        href="{% static 'home/css/style.css' %}" />
</head>
<body>
    <h1>SPACEの貸出し検索結果</h1>
    <p>This is sample page.</p>
    <table>
        <form action="{% url 'find' %}" method="post">
        {% csrf_token %}
        {{form}}
        <tr><th></th><td><input type="submit" value="検索" ></td></tr>
        </form>
    </table>
    <hr>
    <table>
        <thead>
            <th>SPACE LIST</th><th>&nbsp;</th>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>mail</th>
                <th>age</th>
                <th>address</th>
                <th>money</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.mail}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.money}}</td>
                    <td><a href="{% url 'edit' item.id %}">Edit</a></td>
                    <td><a href="{% url 'delete' item.id %}">Delete</a></td>
                    <td><a href="#" class="btn-gradient-radius"><button>借りる</button></a></td>
                </tr>
                

            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'index' %}">トップページに戻る</a>
</body>
</html>