{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  type="text/css" href="{% static 'home/css/style.css' %}" />
    <title>home</title>
</head>
<body>
    <h1>SPACE BOOKING</h1>
    <p>貸したい人と借りたい人をマッチングするサービスです。</p>
    <p><button type="button"onclick="location.href='kariru'">kariru</button></p>
    <p><button type="button"onclick="location.href='kasu'">kasu</button></p>
    <div id="main_visual">
        <img src="{% static "home\img\4-02-037_S.jpg"%}" alt="">
    </div>
    <p><button type="button"onclick="location.href='mailpage'">お問い合わせ</button></p>
</body>
</html>

