{% load static %}

<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <!-- BootstrapのCSS読み込み -->
    <link href="{% static "node_modules/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- jQuery読み込み -->
    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- 独自CSS・JSの読み込み -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <h1>SPACE BOOKING</h1>
    <p>貸したい人と借りたい人をマッチングするサービスです。</p>
    <p><button class="kariru" type="button"onclick="location.href='kariru'">kariru</button></p>
    <p><button class="kasu" type="button"onclick="location.href='kasu'">kasu</button></p>
    <div id="main_visual">
        <img src="{% static "img\4-02-037_S.jpg"%}" alt="">
    </div>
    <p><button type="button"onclick="location.href='mailpage'">お問い合わせ</button></p>
</body>
</html>

