<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>借りる人のためのページ</title>
</head>
<body>
    <h1>SPACE BOOKINGのスペース一覧</h1>
    <p>This is sample page</p>
    <table>
    <thead>
            <th>SPACE</th><th>&nbsp;</th>
        </thead>
        <thead>
            <tr>
                <th>name</th>
                <th>mail</th>
                <th>age</th>
                <th>address</th>
                <th>money</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.mail}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.money}}</td>
                    <td><button>借りる</button></td>
                </tr>
                

            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if data.has_previous %}
        <a href="{% url 'kariru' %}">&laquo;first</a>
        <a href="{% url 'kariru' %}\{{data.previous_page_number}}">&laquo;prev</a>
        {% endif %}
        <span class='current'>[{{data.number}}/{{data.paginator.num_pages}}]</span>
        {% if data.has_next %}
        <a href="{% url 'kariru' %}\{{data.next_page_number}}">next&raquo;</a>
        <a href="{% url 'kariru' %}\{{data.paginator.num_pages}}">last&raquo;</a>
        {% endif %}
    </div>
</body>
</html>