<!doctype html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>借りる人のためのページ</title>
</head>
<body>
    <h1>SPACE BOOKINGのスペース一覧</h1>
    <p>This is sample page</p>
    <table>
    <thead>
            <th>SPACE</th><th>&nbsp;</th>
        </thead>
        <thead>
            <tr>
                <th>name</th>
                <th>mail</th>
                <th>age</th>
                <th>address</th>
                <th>money</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.mail}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.money}}</td>
                    <td><button>借りる</button></td>
                </tr>
                

            {% endfor %}
        </tbody>
    </table>
    </table>
</body>
</html>